@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --linear-gradient: linear-gradient(to right, oklch(0% 0 0 / 0) 0%, oklch(0.6535 0.2419 9.27) 51%, oklch(0% 0 0 / 0) 100%);
}

@theme inline {
  --font-sans: var(--font-ubuntu);

  --color-accent: oklch(0.6535 0.2419 9.27);
  --color-linear-accent: var(--linear-gradient);
  --color-background: oklch(0 0 0);
  --color-background-secondary: oklch(0% 0 0 / 0.9);
  --color-background-tertiary: oklch(0% 0 0 / 0.85);
  --color-text: oklch(1 0 0);
  --color-grey: oklch(0.8203 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-ubuntu);
}
.rhap_container {  background-color: black !important; }
.rhap_progress-bar { background-color: #FF2A70 !important; }
.rhap_progress-filled, .rhap_progress-indicator, .rhap_volume-bar { background-color: #ffffff !important; }
.rhap_volume-indicator { background-color: #FF2A70 !important; }
.rhap_button-clear { color: #ffffff !important; }
.rhap_time { color: #ffffff !important; }

@keyframes slideIn {
  0% { transform: translateX(-50px); opacity: 0; }
  60% { transform: translateX(5px); opacity: 1; }
  100% { transform: translateX(0); }
}

